:root{
    --color-note:hsl(180, 50%, 50%)
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* google fonts */

.noto-serif-georgian-body {
    font-family: "Noto Serif Georgian", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;    
  }
  

header{
    text-align: center;
    padding: 1em 2em;
    background-color: hsl(271, 40%, 53%);
    font-size: 2em;
}

#containerDiv{
    display: flex;
    justify-content: flex-start;
}

main{
    display: flex;
    justify-content: space-around;
    flex-grow: 1;
    padding-top: 2em;
    flex-wrap: wrap;
}

.note{
    background-color: var(--color-note);
    padding: 2em;
    border-radius:2em ;
    
}
.note > p{
    background-color: hsl(0, 78%, 79%);
    padding: 1em;
}

.note h1{
    text-transform: capitalize;
}

.creationDate{
    padding-top: 1em;
}

::backdrop {
background-color: rgb(247, 200, 200);
opacity: .75;
}

fieldset {
    display: flex;
    flex-direction: column;

}

#newNoteDialog {
    width: 75%;
    height: 75%;
    /* center modal */
    /* this is needed as padding and border is set to 0 initially */
    /* https://stackoverflow.com/a/39636815 */
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

nav{
    border-right: solid red 1px;
}

nav ul{
    list-style: none;
    display: flex;
    flex-direction: column;

}
.navElement{
    display: block;
    padding: 1em;
}


#newNoteButton{
    /* width: 100%; */
    /* height: 5dvb; */
    cursor: pointer;
    border: solid 1px red;
    background-color: var(--color-note);


}

.noteEditButton{
    min-height: 50px;
    padding: 1em;
    text-decoration: none;
    font-size: 1em;
    font-weight: 800;
    color: whitesmoke;
    position: relative;
    bottom: 0;
    left: 0;

}
#noteEditSaveButton{
    background-color: hsl(120, 100%, 25%);
}

#noteEditCancelButton{
    background-color: hsl(0, 100%, 30%);
}

#newNoteButton:hover {
    background-color: rgb(250, 167, 167);
}

#sortForm{
    display: flex;
    flex-direction: column;
}

textarea {
    height: 18em;
}

@media all and (max-width: 750px) {
    #containerDiv{
        flex-direction: column;
    }
}