*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header{
    text-align: center;
    padding: 2em;
    background-color: hsl(271, 40%, 53%);
}

#containerDiv{
    display: flex;
}

main{
    display: flex;
    justify-content: space-around;
}

.note{
    background-color: hsl(180, 50%, 50%);
    padding: 2em;
}
.note > p{
    background-color: hsl(0, 78%, 79%);
    padding: 1em;
}

.note h1{
    text-transform: capitalize;
}

.creationDate{
    padding-top: 1em;
}

::backdrop {
background-color: red;
opacity: .75;
}

fieldset {
    display: flex;
    flex-direction: column;

}

dialog {
    width: 75%;
    height: 75%;
    /* center modal */
    /* this is needed as padding and border is set to 0 initially */
    /* https://stackoverflow.com/a/39636815 */
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

nav ul{
    list-style: none;
    display: flex;
}


#newNoteButton{
    width: 100%;
    /* height: 5dvb; */
    cursor: pointer;
    /* border: solid 1px red; */
    padding: 1em;
    display: block;
}

#newNoteButton:hover {
    background-color: rgb(250, 167, 167);
}

textarea {
    height: 10em;
}